.header {

    // Navigation bar
    nav {
        padding: 1.5rem;
    }

    // Logo
    &__logo{
        img {
            height: 2rem;
        }
    }

    // Hamburger
    &__menu {

        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $green;

            &:not(:last-child) {
                margin-bottom: 3px;
            }
        }
    }

    // Links
    &__links {

        a {
            font-size: $font-sm;
            color: black;
            font-weight: 600;
            padding: 0.5rem 1rem;

            &:first-child {
                color: $green;
                border: 2px solid;
                border-radius: 8px;
            }

            &:nth-child(3) {
                border-right: 1px solid rgba(0, 0, 0, 0.2);
            }

            &:last-child {
            }
        }
    }

    &__cta {
        font-size: $font-sm;
    }
}